<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ANGULAR FIRST RUN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="main.js" charset="utf-8"></script>
</head>
<body ng-app='myApp' ng-controller='mainCtrl'>
    <div class="container">
        <div>
            <h3>New Contact</h1>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" ng-model = "newContact.name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" ng-model ="newContact.email">
            </div>
            <button class="btn btn-primary" ng-click="addContact()">Add Contact</button>
        </div>
    </div>

    <div>
      <div class="form-group">
          <label>Search</label>
          <input type="text" class="form-control" placeholder="Search" ng-model = "searchFilter">
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='contact in contacts  | filter:searchFilter | orderBy:"name" track by $index'>
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>
            <td>
            <button type="button" class="btn btn-danger btn-sm" ng-click="removeContact($index)">
            <span class="glyphicon glyphicon-remove"></span>
            </button>
            </td>
          </td>
        </tr>
      </tbody>
    </table>
</body>
</html>
